################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/DebWeb/.vs/DebWeb
/DebWeb/DebWeb/obj
/DebWeb/DebWeb/bin
DebWeb/DebWeb/application.json
